* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, #4CAF50, #2196F3);
    color: #7d3636;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container {
    
    border-radius: 22px;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

/* Arduino Dashboard */
.arduino-dashboard {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    padding: 40px;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.arduino-dashboard:hover{
    transform: scale(1.02);
}


.arduino-dashboard h2 {
    color: rgb(130, 162, 183);
    font-size: 60px;
    margin-bottom: 10px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}


